<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.notKahoot">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- https://developers.google.com/nearby/connections/android/get-started -->
    <!-- Required for Nearby Connections -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Q and above, ACCESS_COARSE_LOCATION is replaced by -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- S and above, BLUETOOTH and BLUETOOTH_ADMIN replaced by -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!-- T and above, ACCESS_COARSE_LOCATION and ACCESS_FINE_LOCATION replaced by -->
    <!-- Need, ACCESS_COARSE_LOCATION and ACCESS_FINE_LOCATION FOR GPS sharing so don't replace -->
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.notKahoot"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.createGame.playGame.ActivityGameplayQuiz"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>